@charset "utf-8";

@font-face {
  font-family: Gil;
  src: url(font/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: Gil-l;
  src: url(font/Gilroy-Light.otf);
}
@font-face {
  font-family: Noto;
  src: url(font/NotoSansKR-Regular.otf);
}